[submodule "prog/reveal.js"]
	path = prog/reveal.js
	url = https://github.com/hakimel/reveal.js.git
	branch = master
[submodule "prog/reveal-menu"]
	path = prog/reveal-menu
	url = https://github.com/denehyg/reveal.js-menu.git
	branch = master
